################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ResoniteNESMod/ResoniteNESMod/bin
/ResoniteNESMod/ResoniteNESMod/obj
/ResoniteNESMod/.vs/ResoniteNESMod/v17
